.donation {
  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 30px;
    padding-bottom: 100px;
  }
  &__img {
    & img {
      display: block;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
  }
  &__title {
    color: $color-dark-l;
  }
  &__text {
    @include font(arial, 1.2rem, 1.8rem);
    font-style: italic;
    color: $color-dark-m;
  }
  &__subtitle {
    @include font(georgia, 1.5rem, 1.7rem);
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
}
