.start {
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        padding: 0px 40px;
        max-width: 540px;
        h1 {
            @include font(georgia, 4.4rem, 5.7rem);
            margin-bottom: 42px;
        }
        p {
            @include font(arial, 1.5rem, 2.4rem);
            margin-bottom: 42px;
        }
        .btn {
            margin-bottom: 50px;
        }
    }
    &__dog-img {
        margin-top: 30px;
        margin-right: 40px;
    }
}