.start {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding-top: 180px;
  }
  &__content {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 460px;
  }
  &__start-title{
    width: 310px;
  }
  &__img {
    height: 100%;
    max-width: 698px;
    width: 100%;
    & img{
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-title {
    @include font(georgia, 4.4rem, 5.7rem);
    color: $color-light-xl;
  }
  &-text {
    color: #cdcdcd;
  }
}
