.wrapper {
    outline: 1px solid red;
    width: 100%;
}

.containter {
    border: 1px solid blue;
    margin: 0 auto;
    height: 500px;
    max-width: 1280px;
}

.brown-bg {
    background: linear-gradient(to right, #5b483a, #262425); }