.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}
.section-title {
  font-family: georgia;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}
.section-text {
  font-family: arial;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 24px;
}
.section-theme {
  background-color: $color-light-l;
}
.dark-theme {
  background: linear-gradient(to right, #5b483a, #262425);
}
