.location {
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 32px;
  }
  &__item {
    display: block;
    float: left;
    position: relative;
    width: 35px;
    height: 32px;
    background-repeat: no-repeat;
  }
  &__marker {
    background-image: url("../../assets/svg/icon-marker.svg");
    padding-left: 40px;
  }
  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    text-decoration: none;
    @include font(georgia, 2em, 23px);
    letter-spacing: 1.2px;
    color: $color-primary;
    vertical-align: bottom;
    align-items: center;
    transition: 0.3s;
  }
}
