.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  &__title {
    @include font(georgia, 3.2rem, 3.5rem);
    letter-spacing: 0.06em;
  }
  &__subtitle {
    @include font(arial, 1.3rem, 1.5rem);
    letter-spacing: 0.1em;
    padding-top: 10px;
  }
}
