.nav {
    display: flex;
    &__list {
        display: flex;
        align-items: center;
        gap: 0 3.6rem;
        margin-bottom: 8px;
        padding: 20px 0;
    }
    &__link {
        display: flex;
        align-items: center;
        @include font(arial, 1.5rem, 1rem);
        color: $color-light-s;
    }
}

.nav__active {
    border-bottom: solid 3px $color-primary;
    line-height: 2rem;
}