.nav {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 36px;
    margin: 0;
    padding-bottom: 5px;
  }
  &__item {
    @include reset;
  }
  &__link {
    @include font(arial, 1.5rem, 3rem);
    text-decoration: none;
    transition: 0.3s;
    // padding-top: 5px;
    padding-bottom: 3px;
  }
  &__active {
    border-bottom: solid 3px $color-primary;
  }
}
