@mixin reset {
  margin: 0;
  padding: 0;
}
@mixin flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin font($family, $size, $height, $weight: 400) {
  font-family:$family;
  font-size: $size;
  line-height:$height;
  font-weight:$weight
}

@mixin btn-hover {
  background-color: $color-primary-light;
  border: $color-primary-light;
}
